/* Document styling */
div#monthFilter {
	width: 1100px;
	margin: 10px 0;
}
body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
	margin: 40px;
}
.axis path {
	fill: none;
	//stroke: #999;
	//stroke-dasharray: 1 3;
}
.axis text {
	font-size: 10px;
	z-index: 100;
	//stroke: #222;
}
text.title {
	font-size: 24px;
}
circle.tick {
	fill: #fff;
	//stroke: #999;
	//stroke-dasharray: 2 3;
}
path.spiral {
	fill: none;
	stroke: #ee8d18;
	stroke-width: 2px;
}

.checkall {
	background: #386cb0;
	color: #fff;
	font-family: 'Lucida Grande';
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border        : 1px solid rgb(128,128,128);
  border-radius : 4px;
	width: 90px;
	height: 30px;
	font-size: 12px;
	cursor: pointer;
}

.uncheckall {
	background: #eee;
	color: #000;
	font-family: 'Lucida Grande';
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border        : 1px solid rgb(128,128,128);
  border-radius : 4px;
	width: 90px;
	height: 30px;
	font-size: 12px;
	cursor: pointer;
}

.random {
	background: #eee;
	color: #333;
	font-family: 'Lucida Grande';
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border        : 1px solid rgb(128,128,128);
  border-radius : 4px;
	width: 90px;
	height: 30px;
	font-size: 12px;
	cursor: pointer;
}

/* Hover and focus states */
.uncheckall:hover {
	background: #ddd;
}

.checkall:hover {
	background: #164a90;
}

.random:hover {
	background: #ddd;
}

.control-group {
	display: inline-block;
	width: 200px;
	height: 210px;
	margin: 10px;
	padding: 30px;
	text-align: left;
	vertical-align: top;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.control {
	font-size: 16px;
	position: relative;
	display: inline;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #386cb0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #164a90;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}


.slider {
  position: relative;
  //top: 40px;
  left: 7px;
	//margin-bottom: 80px;
}

.slider-tray {
  position: absolute;
  width: 100%;
  height: 8px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 2px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
}

.slider-handle {
  position: absolute;
  top: 3px;
	cursor: pointer;
}

.slider-handle-icon {
  width: 24px;
  height: 24px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  top: -11px;
  left: -7px;
}
